<!DOCTYPE html>
<html>
<head>
    <title>Offer Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Offer Table</h1>
    <form method="POST" action="/choose_reservation">
    <table>
        <tr>
            {% for key in data.keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for i in range(data['bookerName']|length) %}
            <tr>
                <td>{{ data['cottageName'][i] }}</td>
                <td>{{ data['bookerName'][i] }}</td>
                <td>{{ data['bookingNum'][i] }}</td>
                <td>{{ data['address'][i] }}</td>
                <td>{{ data['imageURL'][i] }}</td>
                <td>{{ data['numPlaces'][i] }}</td>
                <td>{{ data['numBedrooms'][i] }}</td>
                <td>{{ data['lakeDistance'][i] }}</td>
                <td>{{ data['nearestCity'][i] }}</td>
                <td>{{ data['startDate'][i] }}</td>
                <td>{{ data['endDate'][i] }}</td>
                <td><button type="submit" name="choose_button" value="{{ i }}|{{ data }}">Choose This Reservation</button></td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>
